.page-container {
    text-align: center;
    /* Sayfayı tam ortala */
    margin: 3px auto 0;
}

h1 {
    margin: 30% auto 0;
    font-size: 42px;
    /* Başlık boyutunu 42 punto olarak ayarla */
}


.form-container {

    display: inline-block;
    /* Formu diğer içeriklerin yanında tutmak için */
    max-width: 400px;
    margin: 3px auto 0;
    /* 30 piksel üst, otomatik sağa/sola hizalama, 0 piksel alt */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-content {
    margin-bottom: 20px;
}

.alert {
    margin-top: 10px;
}

.button{
    margin: 3px  30%;
    text-align: center;
    padding: 2% 10% !important;
}
