body {
  font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  background-color: #fff;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  height: 1000px;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
.row-custom-welcome {
  padding: 2rem 0;
}

.header-custom-welcome {
  color: #9933ff;
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  margin-top: 62px;
  letter-spacing: 2px;
}

.header-custom-welcome span {
  color: #6d6d6d;
  font-weight: lighter;
}

.text-custom-welcome {
  color: #393838;
  font-size: 22px;
  font-weight: 500px;
  margin-bottom: 2rem;
  margin-top: 60px;
  letter-spacing: 1.5px;
}

.dotted-image-container {
  position: absolute;
  top: 140px;
  right: 120px;
  width: 170px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .welcome-header {
    font-size: 30px;
  }

  .welcome-subtext {
    font-size: 17px;
  }

  .dotted-image-container {
    position: static;
    margin-top: 1rem;
  }
  .dotted-image-container {
    display: none;
  }
}

.tbt-platform-main {
  width: 1300px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.tbt-platform-main-shadow {
  padding-top: 50px;
  box-shadow: 0px 0px 15px 1px rgba(56, 56, 56, 0.1);
  border-radius: 15px;
}

.tbt-platform-logo {
  width: 320px;
  margin: auto;
  margin-top: 70px;
}

.platform-main-r2 {
  text-align: center;
  margin-top: 70px;
  justify-content: center;
  color: #282828;
  font-weight: 500;
  font-size: 24px;
}

.platform-main-r3 {
  font-size: 34px;
  font-weight: bold;
  display: inline;
  text-align: center;
}

.platform-main-r3-span {
  font-size: 37px;
  color: #00d29b;
  font-weight: bolder;
}

.custom-tab-list {
  margin: 0px 20px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.nav-tabs .nav-link {
  margin-bottom: 0;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs .nav-link.active {
  color: black;
  border-bottom: 2px solid black;
  border-color: 0;
}

.custom-tab-item {
  padding: 0px 0px;
  font-size: 18px;
  cursor: pointer;
  color: rgba(40, 40, 40, 0.8);
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s;
}

.p-tab-list-item.active {
  border-bottom: 3px solid rgb(28, 28, 28);
  opacity: 80%;
  color: black;
}

.custom-tab-content {
  margin: 20px;
}

.basvuru-card {
  margin-top: 15px;
  margin-left: 7px;
  height: 130px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  border-left: 6px solid #076b34 !important;
  line-height: 20px;
  padding-top: 4px;
  font-size: 15px;
  font-weight: bold;
}

.basvuru-card-check {
  font-size: 12px;
  width: calc(100% - 140px);
  min-width: 200px;
  color: grey;
}
.p-checkmark {
  color: #07803d;
  font-size: 16px;
  font-weight: 1000;
}

.status-indicator {
  display: inline-block;
  padding: 8px 20px;
  background-color: #07803d;
  color: white;
  font-weight: lighter;
  border-radius: 12px 0px 0px 12px;
  font-size: 14px;
  line-height: 0.7;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 7px;
  margin-right: -13px;
}

.edu-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.edu-card {
  background-color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 0 8px 3px rgba(50, 50, 50, 0.2);
  overflow: hidden;
  width: 260px;
  height: 295px;
  margin: 10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.edu-card:hover {
  border-color: #9933ff;
}

.edu-card-image img {
  width: 286px;
  height: 170px;
  display: block;
}

.edu-card-body {
  padding: 15px;
  text-align: center;
}

.edu-card-title {
  margin: 0;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.edu-card-date {
  margin-top: -12px;
  color: #666;
  font-size: 14px;
  text-align: left;
}

.edu-card-button {
  background-color: #dcdcdc;
  color: rgb(50, 50, 50);
  border: none;
  padding: 4px 45px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: lighter;
  outline: none;
  margin-top: -5px;
  transition: background-color 0.3s ease;
  margin-bottom: 3px;
}

.edu-card-button:hover {
  background-color: #9933ff;
}

.edus-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edu-card-link {
  flex: 0 0 24%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .edu-card-link {
    flex: 0 0 33.33%;
  }
}

@media (max-width: 768px) {
  .edu-card-link {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .edu-card-link {
    flex: 0 0 100%;
  }
}

.p-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
}

.link-full-row {
  text-decoration: none;
  color: inherit;
  display: block;
}

.load-more-btn {
  background-color: #ffffff;
  color: #797979;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
}

.p-button-icon {
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 8px 3px rgba(50, 50, 50, 0.2);
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 1;
  font-weight: lighter;
}

/* Sınavlarım */
.exam-box {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  margin: 0px 10px 20px 0px;
  padding-bottom: 45px;
}

.exam-title {
  font-size: 1rem;
  color: #2a2929;
  font-weight: bold;
  padding: 20px;
}

.exam-content {
  margin-left: 35px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 8px 3px rgba(0, 0, 0, 0.1);
  width: 41%;
}

.exam-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  color: #333;
  font-weight: bold;
  margin-left: 10px;
}

.exam-subtitle {
  padding-left: 10px;
  font-size: 1rem;
  color: #666;
}

.exam-time {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #888;
  padding: 10px;
}

.exam-time svg {
  color: #9933ff;
  margin-right: 5px;
  font-size: 18px;
}

.exam-statu {
  background: linear-gradient(to bottom, #4d48c9, #bd48a9);
  height: 25px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 24px;
  border-radius: 3px;
}

/*Duyurular Tab */

.anc-card {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  height: 100%;
  max-width: 430px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  border-left: 6px solid #076b34 !important;
  line-height: 20px;
  padding-top: 4px;
  font-size: 15px;
  font-weight: bold;
}

.anc-card-check {
  font-weight: 200;
  font-size: 15px;
  font-weight: bold;
  line-height: 17px;
  color: gray;
  word-spacing: 2px;
}

.p-anc-status-indicator {
  display: inline-block;
  padding: 8px 20px;
  background-color: #07803d;
  color: white;
  font-weight: lighter;
  border-radius: 12px 0px 0px 12px;
  font-size: 14px;
  line-height: 0.7;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 7px;
  margin-right: -17px;
}

.anc-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anc-title {
  color: #08ae53;
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  font-size: 12px;
}

.anc-ik {
  justify-content: end;
}

.anc-link {
  color: #bdbcbc; /* Link rengi - örnekte mavi (#007bff) kullanıldı */
  text-decoration: none; /* Altı çizgiyi kaldır */
  font-weight: lighter; /* Kalın yazı tipi */
  transition: color 0.3s; /* Rengin değişimine yumuşak bir geçiş ekler */
  text-align: end;

  &:hover {
    color: #bdbcbc; /* Örnekte hover durumunda daha koyu mavi (#0056b3) renk kullanıldı */
  }
}

.anc-date-row {
  justify-content: space-between;
}

.anc-date {
  color: #bdbcbc;
  font-weight: lighter;
}

/* anketler*/

.survey-area {
  background-color: #e8e8e8;
  height: 300px;
  border-radius: 15px;
  text-align: center;
}

.survey-text {
  text-align: center;
}

.survey-img {
  width: 250px;
  height: auto;
}

/* platform 3 card*/

.bordered {
  border: 1px solid red;
}

.margin-platform-card-row {
  /* Varsayılan olarak, tüm ekran boyutlarında üst ve alt marjları 20px olarak ayarla */
  margin: 20px 0 100px 0;

  /* Küçük ekranlar ve mobil cihazlar için */
  @media (max-width: 767.98px) {
    margin-left: 5px; /* Sol marj */
    margin-right: 5px; /* Sağ marj */
  }
}

.margin-platform-card {
  margin-bottom: 30px;
  /* Orta boy ve daha büyük ekranlarda */
  @media (min-width: 768px) {
    width: 240px; /* Sabit genişlik */
    margin: 0 40px; /* Sağ marj */
    height: 240px;
    padding: 5px;

    /* Sol üst köşe dışındaki köşelere yuvarlaklık ekler */
    border-top-left-radius: 0; /* Dik köşe */
    border-top-right-radius: 25px; /* Yuvarlak köşe */
    border-bottom-right-radius: 25px; /* Yuvarlak köşe */
    border-bottom-left-radius: 25px; /* Yuvarlak köşe */
  }

  /* Küçük ekranlar ve mobil cihazlar için */
  @media (max-width: 767.98px) {
    width: 100%; /* Tam genişlik */
    margin: 5px 0; /* Sağ marj */
    height: 160px;
    padding: 5px;

    /* Sol üst köşe dışındaki köşelere yuvarlaklık ekler */
    border-top-left-radius: 0; /* Dik köşe */
    border-top-right-radius: 20px; /* Yuvarlak köşe */
    border-bottom-right-radius: 20px; /* Yuvarlak köşe */
    border-bottom-left-radius: 20px; /* Yuvarlak köşe */
  }
}

.margin-platform-card-background-1 {
  /* Gradyan arka plan rengi */
  background: linear-gradient(-145deg, #1d0b8c, #b39cf7);
}

.margin-platform-card-background-2 {
  /* Gradyan arka plan rengi */
  background: linear-gradient(-145deg, #0e0b93, #57a8c5);
}

.margin-platform-card-background-3 {
  /* Gradyan arka plan rengi */
  background: linear-gradient(-145deg, #3c0b8c, #dca0f9);
}

.card-inside-row1 {
  display: flex;
  justify-content: center; /* Yatay hizalamayı (sağdan sola) ortalar */
  text-align: center; /* Metin hizalamasını ortalar, birden çok satır için gerekebilir */
  height: 70%; /* Ebeveyn konteynerin tam yüksekliğini alır */
  color: white;
  font-weight: bolder;
  font-size: 24px;
  padding-top: 50px;
}

.card-inside-row2 {
  display: flex;
  justify-content: center; /* Yatay hizalamayı (sağdan sola) ortalar */
  align-items: center; /* Dikey hizalamayı (yukarıdan aşağıya) ortalar */
  text-align: center; /* Metin hizalamasını ortalar, birden çok satır için gerekebilir */
  height: 30%; /* Ebeveyn konteynerin tam yüksekliğini alır */
}

.centered-row {
  display: flex;
  justify-content: center; /* Yatay hizalamayı merkeze ayarlar */
}

.solid-color-button {
  padding: 10px 25px;
  border: none;
  background-color: #8a2be2; /* Butonun arka plan rengi */
  color: white;
  font-size: 11px;
  border-radius: 20px; /* Yuvarlatılmış köşeler */
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
  outline: none;

  &:active {
    background-color: #9933ff;
  }
  @media (max-width: 767.98px) {
    width: 400px;
    height: 30px;
  }
}
.solid-color-button:hover {
  background-color: #5a1e97;
}

.solid-color-button-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}
.button-link-unstyled {
  text-decoration: none;
  color: inherit;
}
