@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("./Poppins-Regular.woff2") format("woff2"),
    url("./Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
