.banner-background {
  background-color: #1e0f41;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 3;
}
@media screen and (max-width: 768px) {
    .banner-background {
    	height: 104px;
    }
	.banner-custom-ml {
		margin-left: -2.5em;
	}
}
span {
	color: rgb(0, 176, 120);
}
.custom-btn {
	background: #00b078 !important;
	border: 3px solid #00b078 !important;
	border-radius: 2em !important;
	padding: 0.5em 2em !important;
	font-size: 14px !important;
	font-weight: bold !important;
	color: #1e0f41 !important;
	line-height: 18px !important;
	min-width: 140px !important;
}

.logo {
	color: #00bfa6;
	font-weight: bold;
}

.banner-text {
	color: #fff !important;
	font-size: 25px;
}
@media screen and (max-width: 768px) {
    .block-line {
        display: block;
        color: #fff;
    }
}

.custom-btn:hover {
	background-color: #00897b;
}
